* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 113px;
  background: #00d2c6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}


.logo img {
  height: 75px;
  position: relative;
  left: 30px; 
}

.menu {
  display: flex;
  gap: 35px;
  margin-left: 700px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.menu a:hover {
  text-decoration: underline;
}

.social {
  display: flex;
  gap: 5px;
  position: relative;
  right: 60px;
}

.social i {
  width: 30px;
  height: 30px;
  background: white;
  color: #00d2c6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
}

.top-divider {
  width: 100%;
  height: 0.1px;
  background-color: #ffffff;
  position: sticky;
  top: 113px;
  left: 0;
  z-index: 1000;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  width: 100%;
}

.main-text {
  position: absolute;
  top: 40%;
  left: 8%;
  color: white;
  max-width: 500px;
}

.main-text h1 {
  font-size: 45px;
  font-weight: 900;
  line-height: 1.1;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 28px;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.main-1 {
  position: relative;
  width: 100%;
}

.overlay-box {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(16, 120, 77, 0.885); 
  padding: 20px 90px;
  border-radius: 200px;
  text-align: center;
  color: white;
  width: 700px;
}

.overlay-box h1 {
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.overlay-box p {
  font-size: 16px;
  margin-bottom: 25px;
  opacity: 0.9;
}

.btn-1 {
  display: inline-block;
  padding: 12px 32px;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  background: #3f3f3f;
  padding: 30px 20px;
  text-align: center;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-text {
  color: #ffffff;
  font-size: 13px;
}

.footer,
.footer a {
  font-family: "Poppins", sans-serif;
}